{% extends "layout.html" %}

{% block title %}
Reinout van Rees' personal website
{% endblock %}

{% block full_width %}
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">

  <div class="card shadow-md">
    <div class="card-body prose prose-vanrees">
      <h2>Reinout van Rees' personal website</h2>
      <p>
        Hi, I'm Reinout van Rees. A Django/Python programmer from the
        Netherlands. Happily married to <a href="http://annie.vanrees.org">Annie
          van Rees</a> and with two kids (one of them has
        <a href="https://rianne.vanrees.org">her own website now!</a>). Main
        content here is my weblog: mostly programming-related, but also personal
        stuff. But I also have some pages on recumbent bikes and
        building-construction research :-)
      </p>
      <p>
        Ik ben Reinout van Rees, een Django/Python programmeur en
        ligfietser. Da's tenminste het het gros wat je hier op m'n website zult
        vinden. Ik ben getrouwd met <a href="http://annie.vanrees.org">Annie
          van Rees</a> en we hebben twee kinderen.
      </p>
    </div>
  </div>

  <div class="card shadow-md">
    <figure>
      <img src="reinout-homepage.jpg"
           alt="Reinout van Rees (with 'I speak python' shirt)" />
    </figure>
  </div>

  <div class="card shadow-md">
    <figure>
      <img src="{{ pathto('', 1) }}_static/images/logo_sidebar.png"
           alt="vanrees.org logo" />
    </figure>
    <div class="card-body prose prose-headings:text-primary prose-a:text-secondary">
      Vanrees.org logo
    </div>
  </div>

  <div class="card shadow-md">
    <div class="card-body prose prose-vanrees">
      <h2>Weblog</h2>
      {{ weblogsnippet }}
    </div>
  </div>

  <div class="card shadow-md">
    <div class="card-body prose prose-vanrees">
      <h2>Less mass</h2>
      <p>
        My maximum was 113kg. My goal is 80kg (and perhaps a
        bit below).
      </p>
      <p>
        <a href="http://www.fourmilab.ch/hackdiet/online/">
          <img style="border: 0px none ;"
               src="https://www.fourmilab.ch/cgi-bin/HackDietBadge?t=1&amp;b=53616J7465645W5WG574105J2159KWW00F0240K870FWK4J5K752QG5Q07169G7W23GW812FGF6802KQ524Q0192F0J6FK3269J0Q141J9W117G537Q12533G8G437K3739F4J7J"
               alt="The Hacker's Diet Online" />
        </a>
      </p>
    </div>
  </div>

  <div class="card shadow-md">
    <div class="card-body prose prose-vanrees">
      <h2>Meanwhile on other websites...</h2>
      <p>I've got stuff spread out on lots of different sites.</p>
      <dl>
        <dt>
          <a rel="me" href="https://github.com/reinout">
            Github
          </a>
        </dt>
        <dd>
          My code and open source contributions
        </dd>

        <dt>
          <a href="https://www.nelen-schuurmans.nl">Nelen & Schuurmans</a>
        </dt>
        <dd>
          My work: open source python software developer at a water consultancy
          company. Great combination of civil engineering and IT.
        </dd>

        <dt>
          <a rel="me" href="https://stackoverflow.com/users/27401/reinout-van-rees">
            Stackoverflow
          </a>
        </dt>
        <dd>
          IT question/answer website
        </dd>

        <dt>
          <a rel="me" href="http://www.linkedin.com/in/reinoutvanrees">
            LinkedIn
          </a>
        </dt>
        <dd>
          My educational and professional background
        </dd>

        <dt>
          <a rel="me"
             href="http://www.amazon.com/gp/registry/wishlist/9M1GUK1Q4J27">Amazon.com verlanglijst</a>
        </dt>
        <dd>
          <b>Do something unexpected: give me a book from my amazon.com wishlist!</b>
        </dd>
      </dl>
    </div>
  </div>
</div>

{% endblock %}
