{% extends "layout.html" %}

{% block title %}
Reinout van Rees' personal website
{% endblock %}


{% block extra_head %}
<meta name="description"
      content="Personal website of Reinout van Rees. Django/Python software developer.  Ligfietsen." />
<link rel="openid.server"
      href="http://www.myopenid.com/server" />
<link rel="openid.delegate"
      href="http://reinout.myopenid.com" />
<link rel="openid2.local_id"
      href="http://reinout.myopenid.com" />
<link rel="openid2.provider"
      href="http://www.myopenid.com/server" />
<meta http-equiv="X-XRDS-Location"
      content="http://www.myopenid.com/xrds?username=reinout.myopenid.com" />
{% endblock %}

{% block everything %}
<h1>Reinout van Rees' personal website</h1>

<div class="row">
  <div class="span4">

    <p>
      Hi, I'm Reinout van Rees. A Django/Python programmer from the
      Netherlands. Happily married to <a href="http://annie.vanrees.org">Annie
      van Rees</a> and with two kids. Main content here is my weblog: mostly
      programming-related, but also personal stuff. But I also have some pages
      on recumbent bikes and building-construction research :-)
    </p>
    <p>
      Ik ben Reinout van Rees, een Django/Python programmeur en
      ligfietser. Da's tenminste het het gros wat je hier op m'n website zult
      vinden. Ik ben getrouwd met <a href="http://annie.vanrees.org">Annie
      van Rees</a> en we hebben twee kinderen.
    </p>

    <h2><a href="/weblog/">Weblog</a></h2>
    {{ weblogsnippet }}
  </div>

  <div class="span4">
    <div>
      <img src="reinout_ligfiets.jpg"
           width="275"
           height="462"
           alt="Reinout met ligfiets" />
    </div>
    <h2>Less mass</h2>
    <p>
      My maximum was just short of 100kg. My goal is 80kg (and perhaps a
      bit below).
    </p>
    <p>
      <a href="http://www.fourmilab.ch/hackdiet/online/">
        <img style="border: 0px none ;"
             src="http://www.fourmilab.ch/cgi-bin/HackDietBadge?t=1&amp;b=53616J7465645W5WG574105J2159KWW00F0240K870FWK4J5K752QG5Q07169G7W23GW812FGF6802KQ524Q0192F0J6FK3269J0Q141J9W117G537Q12533G8G437K3739F4J7J"
             alt="The Hacker's Diet Online" />
      </a>
    </p>
  </div>

  <div class="span4">

    <h2>Meanwhile on other websites...</h2>
    <p>I've got stuff spread out on lots of different sites.</p>
    <dl>
      <dt>
        <a href="http://www.nelen-schuurmans.nl">
          Nelen &amp; Schuurmans
        </a>
      </dt>
      <dd>
        My work: python/django software developer in a civil engineering
        (water management) setting.  Great combination.
      </dd>

      <dt>
        <a rel="me" href="http://photos.reinout.vanrees.org">
          Photos.reinout.vanrees.org
        </a>
      </dt>
      <dd>
        My main photo site (via Smugmug)
      </dd>

      <dt>
        <a rel="me" href="http://stackoverflow.com/users/27401/reinout-van-rees">
          stackoverflow
        </a>
      </dt>
      <dd>
        IT question/answer website
      </dd>

      <dt>
        <a rel="me" href="http://www.linkedin.com/in/reinoutvanrees">
          LinkedIn
        </a>
      </dt>
      <dd>
        My educational and professional background
      </dd>

      <dt>
        <a rel="me" href="http://twitter.com/reinoutvanrees">
          Twitter
        </a>
      </dt>
      <dd>
        Micro blogging.  All the rage currently.  Yes, I do it too :-)
      </dd>

      <dt>
        <a rel="me"
           href="http://www.amazon.com/gp/registry/wishlist/9M1GUK1Q4J27">Amazon.com verlanglijst</a>
      </dt>
      <dd>
        <b>Do something unexpected: give me a book from my amazon.com wishlist!</b>
      </dd>
    </dl>

    <h2>IT voor m'n familie</h2>
    <ul>
      <li>
        <a href="https://mail.google.com/a/vanrees.org/">
          Inloggen op de email
        </a>.
      </li>
      <li>
        <a href="/kinderen-html/">
          Beginnetje cursus html voor kinderen
        </a>.
      </li>
    </ul>



  </div>

</div>

{% endblock %}
